<% include ../partials/header %>
    
	<header class="jumbotron">
		<h1><span class="glyphicon glyphicon-home align-bottom" aria-hidden="true"></span> Welcome to PG-Mate!</h1>
		<p>View our hand-picked rooms around the country</p>
		<form class="form-inline" action="/rooms" method="GET">
		  <div class="form-group has-feedback">
			<label for="search"></label>
			<input class="form-control" type="text" name="search" placeholder="Search Rooms" autocomplete="off" />
			<span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
		  </div>
		</form>
		<hr>
		<a class="pull-right" href="/rooms/new">
		  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		  Share New Room
		</a>
	  </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% rooms.forEach(function(room){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= room.image %>">
                   <div class="caption">
                       <h4><%= room.name %></h4>
					   <h5 style="font-size: 17px, font-weight: 10">
						   Rs. <%= room.price %>/month
					   </h5>
                   </div>
                   <p>
                       <a href="/rooms/<%= room._id %>" class= "btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>

<% include ../partials/footer %>
