<% include ./partials/header %>

<!-- <div class="text">
  <h2>Welcome to PG-MATE, your one stop solution for room booking</h2>
  <p>If you haven't already signed up for PG-Mate, what are you waiting for,<span><a class="register" href="/register"> Creating an account</a></span> is free and quickly.
Once you have created an account or signed in, you can :-</p>
  
  <h3>Search for rooms</h3>
  <p>
  <ul>
    <li>PG-Mate is an actively growing community, more and more new rooms are added everyday, each provided with all the information you need, ranging from locality details food availability, surrounding area details to details about the owner. </li>
    <li> To save you time we have generated a poweful search resolver, now you can search for a room of your choice by specifying properties such as locality, distance from your location, ratings etc.</li>
    <li>One on the essential features of PG-Mate is to provide communication between the buyer and seller, the buyer needs to include all essential details about the room, as well as his/her personal contact number, email etc. Conflicts may arise between buyer and seller if information is not properly shared between them, this is what PG-Mate tries to avoid. </li>
    <li> After appropiate confirmation from both sides, the buyer will be able to book the room. </li>
  </ul>
  <div class='button1 -sun center'>Search Rooms</div>
     </p>
  
  <h3>Create an advertisement for a room on sale</h3>
<ul>
  <li>Before adding a room, have some details ready like images of the room, initial price, a description etc. </li>
  <li>Adding a room for sale, is extremely simple, the seller must provide all valid information about the room which includes apart from those mentioned above, details like food availability, locality details etc. </li>
  <li>PG-Mate ensures quality of the platform by automatically removing any of the advertisement which violates any norm. </li>
  <li>Got some details wrong in the advertisement? Don't worry PG-Mate allows you to update or edit details about your rooms whenver you want. Also if you wish, you can remove the room from the platform, all in just a few clicks. </li>
  <li>If a buyer is interested in any room, he/she can directly contact the buyer to get more information, and potentially bargain a price. </li>
</ul>
<div class='button1 -green center'>Add Your Rooms</div>
</div> -->


<link rel="stylesheet" href="/stylesheets/learnmore.css">
<div class="faq">
  <div class="faq-q">
    <span>
      <b>Welcome to PG-MATE, your one stop solution for room booking</b>
    </span>
    <p>
      If you haven't already signed up for PG-Mate, what are you waiting for,<span><a class="register" href="/register"> Creating an account</a></span> is free and quickly.
    </p>
  </div>
  <div class="faq-q">
    <span>
      <b>Why use PG-Mate?</b>
    </span>
    <p>
      PG-Mate is an actively growing community, more and more new rooms are added everyday, each provided with all the information you need, ranging from locality details food availability, surrounding area details to details about the owner. 
    </p>
  </div>
  <div class="faq-q">
    <span>
      <b>How to search rooms in PG-Mate?</b>
    </span>
    <p>
      To save you time we have generated a poweful search resolver, now you can search for a room of your choice by specifying properties such as locality, distance from your location, ratings etc.
    </p>
  </div>
  <div class="faq-q">
    <span>
      <b>How to introduce yourself in this community?</b>
    </span>
    <p>
      One on the essential features of PG-Mate is to provide communication between the buyer and seller, the buyer needs to include all essential details about the room, as well as his/her personal contact number, email etc. Conflicts may arise between buyer and seller if information is not properly shared between them, this is what PG-Mate tries to avoid.After appropiate confirmation from both sides, the buyer will be able to book the room. 
    </p>
  </div>
  <div class="faq-q">
    <span>
      <b>What are the necessary documents for adding a room?</b>
    </span>
    <p>
      Before adding a room, have some details ready like images of the room, initial price, a description etc. 
    </p>
  </div>
  <div class="faq-q">
    <span>
      <b>How to fill the extra details which you want to provide?</b>
    </span>
    <p>
      Adding a room for sale, is extremely simple, the seller must provide all valid information about the room which includes apart from those mentioned above, details like food availability, locality details etc. 
    </p>
  </div>
  <div class="faq-q">
    <span>
      <b>Why my room is not showing in the list, does anyone delete it?</b>
    </span>
    <p>
		PG-Mate ensures quality of the platform by automatically removing any of the advertisement which violates any norm. 
	  </p>
  </div>
  <div class="faq-q">
    <span>
      <b>Got some details wrong in the advertisement?</b>
    </span>
    <p>
       Don't worry PG-Mate allows you to update or edit details about your rooms whenver you want. Also if you wish, you can remove the room from the platform, all in just a few clicks.
    </p>
  </div>
  <div class="faq-q">
    <span>
      <b>How to book a room?</b>
    </span>
    <p>
      If a buyer is interested in any room, he/she can directly contact the buyer to get more information, and potentially bargain a price. 
    </p>
   </div>
	<div class="faq-q">
    <span>
      <b>What are the main functionalities we can do in PG-Mate?</b>
    </span>
    <div class='button1 -sun center'>Search Rooms</div>
	  <div class='button1 -green center'>Add Your Rooms</div>
  </div>
</div>

<% include ./partials/footer %>